/* @import url('https://fonts.googleapis.com/css?family=Elsie&display=swap'); */

/* latin-ext */
/* @font-face { */
/*   font-family: 'Elsie'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local('Elsie Regular'), local('Elsie-Regular'), url(elsie-regular-mininal.woff2)  format('woff2'); */
/*   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
/* } */

/* latin */
/* @font-face { */
/*   font-family: 'Elsie'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local('Elsie Regular'), local('Elsie-Regular'), url(elsie-regular-full.woff2)  format('woff2'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
/* } */

/* Variables. Feel free to edit these! */
:root {
    --color-primary: #028090;
    --color-secondary: #00A896;

    --color-soft-white: #FFFFF0;

    --color-soft-black: #444;
    --color-hard-black: #222;

    --color-special-todo: #790604;

    --font-normal: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman";
    --font-headings: 'Elsie', cursive;

    --font-size-1: 33.57px;
    --font-size-2: 26.86px;
    --font-size-3: 21.48px;
    --font-size-4: 17.19px;

    --font-size-small: 11px;
}

/* Selection color */
::selection {
    background-color: var(--color-primary);
    color: var(--color-soft-white);
}

/* Remove outer padding */
html, body{
    margin: 0;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6{
    color: var(--color-hard-black);
    font-family: var(--font-headings)
}

/* Scaled font sizes */
h1{font-size: var(--font-size-1);}
h2{font-size: var(--font-size-2);}
h3{font-size: var(--font-size-3);}
h3{font-size: var(--font-size-4);}
h4{font-size: var(--font-size-4);}
h5{font-size: var(--font-size-4);}

h1 > .subtitle{
    font-size: 21.48px;
}

/* Normal text style */
p, pre, ol, ul, table{
    color: #444;
    font-size: var(--font-size-4);
    font-family: var(--font-normal)
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

li code {
  color: #444;
  font-size: var(--font-size-4);
  font-family: var(--font-normal);
  background-color: transparent;
}

/* Better anchor tags */
a{
    color: inherit;
}

a:hover{
    color: var(--color-secondary);
}

/* Force footer to bottom and center */
#postamble{
    text-align: center;
    /* width: 100%; */
}

#postamble > p{
    display: inline;
}

/* Responsive images */
img{
    max-width: 100%;
    height: auto;
}

/* Responsive code blocks and tables */
pre, .outline-text-2, .outline-text-3, outline-text-4{
    max-width: 100%;
    overflow-x: auto;
}

/* Responsive content positioning */
@media only screen and (min-width: 750px) /* Large screens */
{
  .outline-2, #postamble, .title, h2.post-title {
    padding: 2vh 20vw;
  }
}

@media only screen and (max-width: 750px) /* Small screens */
{
  .outline-2, #postamble {
    padding: 2vh 5vw;
  }
}


/* Code blocks */
.org-keyword{
    color: var(--color-primary);
}

.org-rainbow-delimiters-depth-1{
    color: var(--color-secondary);
}

.org-org-meta-line{
    color: var(--color-primary);
}
blockquote{
    border-left:5px solid var(--color-primary);
    padding-left: 10px;
}

.todo{
    color: var(--color-special-todo);
}

.done{
    color: var(--color-primary);
}

/* Tags.
   The way org exports tags is a little strange.
   They are exported as a span with class "tag" containing each
   of the tags in its own span with class and contents equal to
   the tags name. This is actually really useful as it allows
   for targeting both the "tag group" and each tag individually */

.tag{
    margin-top: 5px;
    display: block;
    color: var(--color-soft-white);
    font-size: var(--font-size-small);
    font-family: var(--font-normal)

}

.tag > span{
    background-color: var(--color-secondary);
    text-transform: uppercase;
    border-radius: 2px;
    width: fit-content;
    height: auto;
    padding: 1px 5px;
    margin: 1px;
}

.underline{
    text-decoration: underline;
}

thead, tbody {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

th, td {
	padding: 6px 6px;
}

colgroup {
  border: 1px solid var(--color-soft-black);
}

colgroup:first-of-type {
  border-left: 0px;
}

colgroup:last-of-type {
  border-right: 0px;
}

table {
  border-collapse: collapse;
}

/* Code */
.src {
  border-left: solid 0.25em #782b90;
  padding: 0.6em;
  padding-left: 1em;
  background-color: #f8f9fa;
  border-radius: 0.4em;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Code Result*/
.example {
  padding: 0.6em;
  padding-left: 1.25em;
  background-color: #f8f9fa;
  border-radius: 0.4em;
}

h1.post-title,
h1.post-title + div.post-date,
.taglist {
  text-align: center;
}

#archive {
  padding: 1rem;
  text-align: center;
}

#archive a {
  border-bottom: 1px solid;
  border-top: 1px solid;
  text-decoration: none;
}

#preamble {
  text-align: right;
}

#postamble center {
  margin-top: 1rem;
}

.taglist a:not(:first-child) {
  background: #6a737d;
	display: inline-block;
	padding: 3px 4px;
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	border-radius: 2px;
	box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
  text-decoration: none;
}

.org-src-container > pre::before {
	display: block;
	position: absolute;
	background-color: #b3b3b3;
	top: 0;
	right: 1.5em;
	padding: 0 .5em;
	border-bottom-left-radius: 8px;
	border: 0;
	color: #fff;
	font-size: 80%;
}

.org-src-container>pre {
 overflow:auto
}

.org-src-container {
 /* border:1px solid #ccc; */
 /* box-shadow:3px 3px 3px #eee; */
 /* font-family:Lucida Console,monospace; */
 /* font-size:80%; */
 /* margin:1em auto; */
 /* padding:.1em .5em; */
 position:relative;
 /* background-color: #EEE; */
}

/* TODO: pre.src-lang:before */
/* https://orgmode.org/worg/org-contrib/babel/languages.html */
.org-src-container>pre.src-python:before {
 content:"python"
}
.org-src-container>pre.src-emacs-lisp:before {
 content:"emacs-lisp"
}
.org-src-container>pre.src-C:before {
 content:"C"
}
.org-src-container>pre.src-cpp:before {
 content:"cpp"
}
.org-src-container>pre.src-java:before {
 content:"java"
}
.org-src-container>pre.src-js:before {
 content:"js"
}
.org-src-container>pre.src-lisp:before {
 content:"lisp"
}
.org-src-container>pre.src-css:before {
 content:"css"
}
.org-src-container>pre.src-sass:before {
 content:"sass"
}
.org-src-container>pre.src-sass:before {
 content:"sass"
}
.org-src-container>pre.src-scala:before {
 content:"scala"
}
.org-src-container>pre.src-scheme:before {
 content:"scheme"
}
.org-src-container>pre.src-shell:before {
 content:"shell"
}
.org-src-container>pre.src-sql:before {
 content:"sql"
}
.org-src-container>pre.src-julia:before {
 content:"julia"
}
.org-src-container>pre.src-ipython:before {
 content:"ipython"
}
.org-src-container>pre.src-typescript:before {
 content:"typescript"
}
.org-src-container>pre.src-clojure:before {
 content:"clojure"
}
.org-src-container>pre.src-makefile:before {
 content:"makefile"
}
.org-src-container>pre.src-R:before {
 content:"R"
}
.org-src-container>pre.src-ruby:before {
 content:"ruby"
}
